* {
    font-family: 'Nunito Sans';
}

.card {
    width: 300px;
    height: 350px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.199);
    cursor: pointer;
}

.none {
    display: none;
}

.card:hover {
    transform: scale(1.01);
    transition: ease-in-out 0.2s;
}

h2 {
    padding: 10px 0px;
}

.card-img {
    width: 350px;
    height: 160px;
}

.card-img img {
    width: 300px;
    height: 160px;
}

.card-info {
    padding-left: 15px;
}

.card-info span {
    color: black;
    font-weight: 600;
}

.card-info p {
    color: gray;
}

a {
    text-decoration: none;
    color: black;
}

.input-search {
    background: url('../../img/search-outline.svg') no-repeat;
    background-size: 25px;
    background-position: 10px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
    width: 500px;
    height: 50px;
    border-radius: 7px;
    padding-left: 50px;
}

.search-container {
    width: 100vw;
    padding: 50px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
}


@media (min-width: 375px) and (max-width: 1400px) {

    .card-info {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .search-container {
        width: 100vw;
        padding: 30px 10px 0px 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .input-search {
        background-size: 20px;
        background-position: 10px;
        width: 350px;
    }

}